*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: #e6e6e6;
}
.container-fluid{
    background-color: white;
    width:98%;
    box-shadow:0 0 20px 0 rgba(0,0,0,0.3);
    
}
.logo{
    width:150px;
}
.navimg{
    width:170px;
}
.top .btn{
    width:200px;
}
.a{
    position:absolute;
    top:18%;
    right:5%;
}
.lefty{
    background-color: black;
    height:80vh;
   
}
.righty{
    height:80vh;
    width:60%;
}
.help{
    height:80vh;
    width:100%;
}

.span{
    font-size:8rem;
    font-weight: 300 !important;
}
.sec{
    height:300px;
    width:300px;
    border:5px solid black;
    border-radius:20px;
}
.sect{
    width:90%;
    
}
.sect img{
    height:300px;
}
.ut{
    padding-bottom:80px !important;
}
.para{
    width:70%;
    margin:auto;
}
.join img{
    width:110%;
}
.paraa{
    text-align: center;
    width:80%;
    margin:auto;
}
.box .btn{
    margin:0 120px;
}
.sections{
    width:90vw;
    height:80vh;
    border:10px solid black;
    border-radius:15px;
    
}
.ima{
    width:80% !important;
}
.image1{
    height:15vh;
}
.image2{
    height:15vh;
}
.he{
   
    padding:15px;
    border-radius: 15px;
    border:8px solid black;
}
.footer{
    background-color: black;
}
.social{
    padding: 0;
    margin-left: -10px;
    width:300px;
}
.playicon{
    width:200px;
    height:100px;
}

/* RESPONSIVE */
@media(max-width:768px)
{
    .a{
        margin-top:30%;
        
    }
    .container-fluid{
        height:auto;
    }
    .sec1 .right img{
        min-width: 40vw;
        min-height: 30vh;
    }
    .lefty ,.righty ,.help{
        max-height:50vh;
        max-width: 40vw;

       
    }
    .sec3 .sec  ,.sec4 .sect{
        min-width: 250px;
        max-width: 250px;
    }
    .sec3 h2 , .sec4 h2{
        font-size: 1.5rem;
    }
    
    .lefty p{
        font-size: 1rem !important;
    }
    .span{
        font-size: 3rem;
    }
    .sec3 h1 ,.sec4 h1 ,.sec5 h1 ,.sec6 h1{
        text-align: center;
    }
    .sec3 .top ,.sec4 .top ,.sec5 .top ,.sec6 .top {
        display: flex ;
        flex-direction: column;
    }
    
    .sec3 h2 ,.sec4 h2 ,.sec5 h2 ,.sec6 h2{
        margin:30px;
    }
    .sec6 p{
        margin-bottom: 30px;
    }
    .sec7 .top{
        display: flex !important;
        flex-direction: column !important ;
    }
    .sec7 .box button{
        text-align: center;
        width:40%;
        margin:10px 30% !important;
        
    }
    .sec8 h1{
        font-size: 1rem !important;
    }
    
    
    .sec9 span{
        font-size: 1.5rem !important;
    }
    .sec9 img{
        width:80vw;
    }
    .sec10 h3{
        font-size: 14px;;
    }
    .sec10 h4{
        font-size: 12px;
    }
    .sec10 h6{
        font-size: 10px;
    }
    .social ,.playicon{
        height:50px;
        width:100px;
    }

    .sec8 .right{
        margin-top: 100px;
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
    }
   .ima{
       min-height: 30vh;
       min-width: 40vw;
   }
}
